<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header></header>
    <nav>
      <a href="{% url 'home' %}">Retour à la page d'accueil</a>
      <a href="{% url 'monapp:profile_view' username=user.username %}">Voir Profil</a>
      <a href="{% url 'monapp:logout' %}">Se déconnecter</a>
      
      

    </nav>
    <main>
          <div class="edit_profile">
            <h1>Éditer le Profil</h1>
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit">Mettre à jour le profil</button>
            </form>
          </div>
 
    </main>
    <footer></footer>
</body>
</html>